<% layout('./layouts/boilerplate')%>
<div id="map" style="width: 100%; height: 500px"></div>
<h1 class="d-flex justify-content-center">All Restaurants</h1>
<!-- <div>
    <a href="/restaurants/new">Add Restaurant</a>
</div> -->
<% for(let restaurant of restaurants){%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 card-body mb-3">
            <% if (restaurant.images.length) {%>
            <img class="img-fluid" alt="" src="<%=restaurant.images[0].url%>">
            <% }else {%>
            <img class="img-fluid" alt=""
                src="https://res.cloudinary.com/dcnmmnmfw/image/upload/v1660464334/SweetsHolic/pmauhq0zi97uokaetv7v.png">
            <% } %>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card-body">
                <h5 class="card-title"><%=restaurant.title%></h5>
                <p class="card-text"><%=restaurant.description%></p>
                <p class="card-text">
                    <small class="text-muted"><%=restaurant.location%></small>
                </p>
                <a class="btn btn-primary" href="/restaurants/<%=restaurant._id%>">View <%=restaurant.title%></a>
            </div>
        </div>
    </div>

</div>
<% }%>


<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const restaurant = < % -JSON.stringify(restaurant) % > ;
    //  should be this but can 't run
    // features: < % -JSON.stringify(restaurants) % >
</script>
<script src="/javascripts/clusterMap.js"></script>